.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
}

.book-section-nav {
  margin-top: 3rem;
  padding: 0 10rem 0 10rem;
}

.book-section {
  width: 100%;
  height: auto;
  background-color: #ececec;
}
