.user-btn {
	color: var(- -main-color-shadow6);
	font-size: 2rem;
}

.qna_title {
	font-size: 30px;
	float: left;
}

.qna_button {
	float: right;
}

.qna_body {
	margin-top: 20px;
}

.qna_list_title {
	font-size: 20px;
	margin-right: 20px;
}

.qna_list_date {
	float: right;
}

.qna_sumbmit {
	display: flex;
	margin-top: 20px;
}

.qna_submit_btn {
	display: flex;
	margin-left: auto;
}

.qna_update_btn {
	margin-right: 10px;
}

.drop_btn {
	font-size: 2rem;
}
.table-header{
	display:flex;
	align-content: center;
	background-color: #F7F7F7;
	font-weight: bold;
	border: 1px solid;
	height: 60px;
	padding-top: 10px;
}
.table-header-text{
}
.qna-table{
	
}

.ans-btn{
	color: #484877;
	border-color: #484877;
}

.ans-btn:hover{
	background-color: #484877;
}

.bot-table{
	border: 1px solid;
	margin-top: -18px;
}

.bot-table-in{
}

.qna-card{
	width: 90%;
}

.table-div{
	display: flex;
	justify-content: center;
}