@charset "UTF-8";

body{ 
	width: 80%;
  	align-items:center;
  	float:none; margin:0 auto;
  	
  	
}

#detail-img {
	
  width : 380px;
  object-fit: cover;
  border-style: none;
  border-color: var(--main-color-tint4);
 
}

section{
  border: 2px;
  border-style: solid;
  border-color: #7173BF;
}

#detail-badge{
	font-size: 20px;
}

#detail-bookinfo{
	font-size:  20px;
}

#detail-price{
	font-size: 30px;
}

#reviewList{
	width: 80%;
  	align-items:center;
  	float:none; margin:0 auto;
  	line-height : 2em;
}

#review-star{
	width: 25px;
}

#book_content{
	line-height : 2em;
	
}

#btn_buy_now,#btn_cart{
	background-color: var(--main-color-tint1);
	 border-color: var(--main-color-tint6);
	 color: white;
}

#progress{
	background-color: var(--main-color-tint1);
}


div#book_img_wrap{
	position: relative;
	
}

div#book_img{
	vertical-align: middle;	
	width: 300px;
}

div#img_text{
	position: absolute; 
	z-index: 1;
	text-align: center;
	right: 700px;
}

