@charset "UTF-8";

body{ 
	width: 80%;
  	align-items:center;
  	float:none; margin:0 auto;
  	
  	
}



#detail-img {
  height : 400px;
  object-fit: cover;
  border: 2px;
  border-style: solid;
  border-color: gray;
 
}

section{
  border: 2px;
  border-style: solid;
  border-color: #7173BF;
}

#detail-badge{
	font-size: 20px;
}

#detail-bookinfo{
	font-size:  20px;
}

#detail-price{
	font-size: 30px;
}

#detail-review{
	width: 80%;
  	align-items:center;
  	float:none; margin:0 auto;
  	line-height : 2em;
}

#review-star{
	width: 25px;
}

#book_content{
	line-height : 2em;
	
}