@charset "utf-8";


.modal-header {
	background-color: var(--main-color-tint2);
}
.modal-body{
	color: black;
}
.modal-footer {
	background-color: var(--main-color-tint2);
}
#bookList{
	float:center;
	
}


div.col-md-2{
	font-weight: 800;
}


#book_list_section{
border:1px solid gray;
}

#group_list,#bookList_title ul li{
background-color : var(--main-color-tint2);
color: 	white;
font: bold;
}

#bookList ul {
float:left;
text-align:center;
align-items: center;
height: auto;
background-color: #F7F7FA;
border-bottom: 1px solid gray;
border-radius: 0;
 
}
 #bookList li{
float:left;
text-align:center;
height: auto;
vertical-align:middle;
background-color: #F7F7FA;
color: black;
}
 
 
 #modal_text{
	color:var(--main-color-shadow2);
	font-weight: 900;
	
}

#section_title1{
color:var(--main-color-shadow2);
font-weight: 800;
}

.col-md-2{
	font: bold;
}

#count{
width: 3em;	
}
#bookNo,#check,#sale_rate {
width: 4em;
}

#book_title {
width: 25em;
}
#book_author{
width:15em;
}
#category {
width: 7em;
}

#stock, #delete,#org_price{ 
width: 6em;
}

#sale_price{ 
width: 7em;
}



