@charset "UTF-8";

.wrapper {
	height: auto;
}

.main {
	line-height: 180%;
	position:relative;
	margin: 0 auto;
	width: 1240px;
	height: auto;
	min-height: 1000px;
}

.side {
	position:relative;
	width: 220px;
	min-height: 500px;
	margin-top: 130px;
	border-radius: 20px;
	float: left;
	background-color: #d1d1e5;
}

.main_tracking {
	height: auto;
	min-height: 1000px;
	width: 950px;
	float: right;	
}

.tracking {
	position: relative;
	width: 950px;
	height: 200px;
	margin-bottom: 30px;
}

.tracking_title {
	height: 100px;
	padding: 30px;
	vertical-align: middle;
	margin-top: 30px;
	font-weight:bold;
	font-size: 20px;
}

.tracking_main {
	vertical-align:middle;
	height: 200px;
	margin-bottom: 20px;
}


.tracking_main_table {
	width:100%;
	height:100px;
	background-color: #f7f7f7; 
	border-radius: 20px;
}

.tracking_main_table_col1, .tracking_main_table_col2, .tracking_main_table_col3, .tracking_main_table_col4, .tracking_main_table_col5 {
	width: 310px;
	text-align: center;
	vertical-align: middle;
}

.pay_cencel, .return_request {
	font-size: 10px;
	color: blue;
	text-decoration-line: none; 
}

.modal_pay_cencel {
	height: 300px;
	padding: 0px 20px;
}

.trackinglist {
	height: auto;
	min-height: 100px;
}


.trackinglist_null {
	margin-top:50px;
	font-size: 30px;
	opacity:0.5;
	text-align: center;
}



.trackinglist_table {
	margin:50px 0px;
	width: 100%;
	font-size: 14px;
	border: 1px solid #DFDFDF;
}

.trackinglist_table_th1 {
	width: 800px;
	height: 100px;
	padding-left: 35px;	
	vertical-align: middle;
	border-bottom: 1px solid #DFDFDF;		
}

.trackinglist_table_th2 {
	width: 150px;
	text-align: center;
	vertical-align: middle;	
	border-bottom: 1px solid #DFDFDF;	
}

.pay_cencel, .return_request {
	color: white;
}

.trackinglist_table_title {
	color : #5c5d99;
	font-weight: bold;
}

.trackinglist_table_detail_btn {
	font-size: 12px;
	color:black;
	text-decoration-line: none;
	
}

.trackinglist_table_img {
	width: 80px;
	height: 100px;
	border: 1px solid black;
}

.trackinglist_table_col1, .trackinglist_table_col3, .trackinglist_table_col4 {
	width: 150px;
	height: 150px;
	vertical-align: middle;
	text-align: center;
}

.trackinglist_table_col2 {
	width: 500px;
	max-width:500px;
	height: 150px;
	vertical-align: middle;
}


.trackinglist_table_col4 {
	font-weight: bold;
}


.trackinglist_table_hr {
	margin: 0px 20px 0px 20px;
}

.tracking_detail {
	padding:20px;
	height: 800px;
}

.tracking_detail_table {
	width: 100%;
	margin-top: 30px;
	font-size: 12px;	
}

.tracking_detail_table_col1, .tracking_detail_table_col3, .tracking_detail_table_col4 {
	width: 100px;
	height: 100px;
	padding: 10px 0px;
	vertical-align: middle;
	text-align: center;
}

.tracking_detail_table_img {
	width: 60px;
	height: 80px;
	border: 1px solid black;
}

.tracking_detail_table_col2 {

    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap; 
	width: 450px;
	max-width: 400px;
	padding: 20px 10px 10px 10px;

	vertical-align: middle;	
}

.tracking_detail_title {
	font-weight:bold;
	margin-top: 80px;
}

.tracking_detail_address {
	margin-left: 3px;
	font-size: 12px;
	
}

.tracking_detail_price_col1, .tracking_detail_price_col4 {
	display:inline-block;
	width: 220px;
	height: 50px;
	margin-left: 3px;
	font-size:12px;
 	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.tracking_detail_price_col2 {
	display:inline-block;
	width: 220px;
	height: 20px;
	margin-left:10px;
	font-size:12px;
 	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.tracking_detail_price_col3 {
	display:inline-block;
	width: 220px;
	height:20px;
	margin-left:10px;
	font-size:12px;
}

.tracking_detail_price_right {
	margin-right:10px;
	float: right;
}

.tracking_detail_price_left {
	float: left;
	font-size: 11px;
	opacity: 0.5;
}



.button-left {
	float: left;
}

