@charset "UTF-8";

* {
	box-sizing: border-box;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! main !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
.main {
	position:relative;

	width: 1240px;
	height: auto;
	min-height: 1000px;
	
	margin: 0 auto;
	line-height: 180%;
}




/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! orderlist !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */

.orderlist {
	width: 850px;
	height: auto;
		
	margin-bottom: 30px;
	padding: 0px 25px;
}

.orderlist_table {
	width: 800px;
	font-size: 12px;

    border: 1px solid #DFDFDF;
}

.orderlist_table_th1 {
	width: 150px;
	height: 80px;
	vertical-align: middle;
	padding: 0px 30px;

	font-size: 16px;	
	font-weight: bold;

	border-bottom: 1px solid #DFDFDF;	
}

.orderlist_table_th2 {
	width: 650px;
	padding: 0px 30px 0px 80px;	
	vertical-align: middle;	
	font-size: 16px;		
	
	border-bottom: 1px solid #DFDFDF;	
}

.orderlist_table_th3 {
	width: 120px;
	height: 50px;
	padding: 0px 30px;
	vertical-align: middle;		
	
	color: #6768ab;
	font-weight: bold;
}

.orderlist_table_th_right {
	float: right;
}

.bi-chevron-down, .bi-chevron-up {
	cursor: pointer;
}

.orderlist_table_tr {
	display: none;
}

.orderlist_table_img {
	width: 80px;
	height: 100px;
	vertical-align: middle;		
	border: 1px solid #DFDFDF;		
}

.orderlist_table_col1  {
	width: 150px;
	height: 150px;
	text-align: center;	
	vertical-align: middle;	
	border-bottom: 1px solid #DFDFDF;
}

.orderlist_table_col2 {
	width: 350px;
	padding: 0px 0px 0px 20px ;
	vertical-align: middle;	
	border-bottom: 1px solid #DFDFDF;		
}

.orderlist_table_col3, .orderlist_table_col4 {
	width: 150px;
	padding: 0px 20px;
	text-align: center;	
	vertical-align: middle;		
	border-bottom: 1px solid #DFDFDF;	
}




/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! address !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */

.address {
	width: 850px;
	height:auto;
	padding: 0px 25px;
	margin-bottom: 30px;	
}

.address_table {
	width: 800px;
	height: auto;
	min-height: 300px;
	border: 1px solid #DFDFDF;	
}

.address_table_th1 {
	width: 200px;
	height: 120px;
	vertical-align: middle;
	padding: 0px 30px;

	font-size: 16px;	
	font-weight: bold;
	border-bottom: 1px solid #DFDFDF;		
}

.address_table_th2 {
	height: 80px;
	vertical-align: middle;
	padding: 0px 30px;

	font-size: 16px;	
	font-weight: bold;	
	border-bottom: 1px solid #DFDFDF;		
}

.ordferlist_count {
	color: #6768ab;
	font-weight: bold;
	
}

.address_table_col1 {
	vertical-align: middle;	
	padding: 0px 30px;	
	border-bottom: 1px solid #DFDFDF;	
}

.address_table_col2 {
	vertical-align: middle;	
	padding: 0px 30px;	
	border-bottom: 1px solid #DFDFDF;		
}

.address_search_btn, .address_insert_btn, .delivery_request_btn  {
	width: 100%;
	
	font-size: 12px;
	font-weight: bold;
}

.address_info_table {
	width: 100%
}

.address_info_table_col2 {
	height:50px;
	text-align:right;
	vertical-align: middle;
}
.modal_footer_left {
	height: 20px;
	line-height: 20px;

	margin-right: 220px;
	font-size:14px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! address modal !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */

.address_list_modal {
	height: 800px;
	padding: 10px 20px;
}

.address_list_table {
	width: 100%;
	margin-top: 20px;
	font-size: 12px;
	border: 1px solid #DFDFDF;
}

.address_list_table_col1 {
	width: 50px;
	height: 130px;
	
	vertical-align: middle;
	text-align: center;	
}

.address_list_table_col2 {
	vertical-align: middle;
}

.address_list_table_col3 {
	width: 50px;
	vertical-align: middle;
	text-align: center;	
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! address insert modal !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */

.address_insert_modal {
	height: 800px;
	padding: 10px 20px;	
}

.address_input {
	margin: 0px 0px 15px 0px;
	font-size: 14px;
} 

.form-label {
	width:100%;
	margin: 10px 0px 15px 0px;
	font-size: 14px;	
	font-weight: bold;
	line-height: 30px;
}

.address_insert_search_btn {
	width: 100px;
	height: 30px;
	margin-left:20px;
	font-size: 10px;
	font-weight: bold;
	float: right;
}

.address_insert_dummy {
	margin-top: 30px;
}

.address_update_modal_btn, .address_insert_modal_btn {
	display: none;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 배송요청사항 모달 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
.delivery_request {
	height: 350px;
	padding: 10px 20px;
}

.delrivery_reqeust_insert {
	margin-top: 20px;
}

.address_search_btn_two, .delivery_request_btn_two {
	font-size: 12px;
	font-weight: bold;
	float: right;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 포인트  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */

.point {
	width: 850px;
	height:auto;

	padding: 0px 25px;
	margin-bottom: 30px;	
}

.point_table {
	width: 800px;
	height: auto;
	border: 1px solid #DFDFDF;
}

.point_table_none {
	background-color: #f7f7f7;
	display: none;
}

.point_table_th1, .point_table_th2 {
	width: 200px;
	height: 80px;
	padding: 0px 30px;
	
	font-weight: bold;
	vertical-align: middle;
	border-bottom: 1px solid #DFDFDF; 
}

.point_table_col1 {
	width: 200px;
	padding: 0px 30px;

	text-align: right;		 
	vertical-align: middle;
	font-size: 14px;
	border-bottom: 1px solid #DFDFDF;
}

.user_point_value {
	font-weight: bold;
	color: #6768ab;
}

.point_table_col2, .point_table_col3  {
	padding: 0px 30px;
	text-align: right;
	vertical-align: middle;
	font-size: 14px;
	border-bottom: 1px solid #DFDFDF;	
}

.point_table_col4 {
	padding: 25px 0px;
	border-bottom: 1px solid #DFDFDF;	
	
}


.point_table_use_point_input {
	display:inline;
	width: 200px;
	height: 30px;	
	
	text-align: right;
	vertical-align: middle;

}

.point_table_full_use_btn {
	height: 30px;
	font-weight:bold;
	font-size: 12px;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 결제창  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
.side {
	width: 300px;
	height: 400px;
	
	margin-right: 10px;
	float: right;
		
}

.side_count {
	float: right;
}

.side_pay {
	height: 320px;
	padding: 0px 30px;
	margin-top: 10px;
	border: 1px solid #DFDFDF;	
}

.side_li {
	margin: 20px 0px;
}

.side_title {
	font-weight: bold;
}


.side_total_price, .side_delivery_price, .side_use_point  {
	float: right;
	opacity: 0.6;
}


.side_final_price {	
	text-align:right;
	font-weight: bold;	
}

.side_final_price_value {
	font-size: 26px;
	margin-right: 5px;
}

.side_save_point {
	float: right;
	opacity: 0.6;	
	font-size: 14px;
}

.side_pay_now_btn {
	width: 100%;
	height: 50px;

	font-size: 20px;	
	margin-top: 20px;
	font-weight: bold;

}

.fw-bold {
	color: #6768ab;
}

/* */
.pay {
	width: 850px;
	height:auto;

	padding: 0px 25px;
	margin-bottom: 100px;
}


.pay_table {
	width: 800px;
	height: auto;
	border: 1px solid #DFDFDF;

}

.pay_table_th1 {
	height: 80px;
	vertical-align: middle;
	padding: 0px 30px;
	font-weight: bold;
}

.pay_radio_label {
	width: 160px;
	height: 60px;
	line-height:48px;
	margin: 10px;
	font-weight: bold;	
	font-size: 14px;
	background-color: white;
}

.pay_table_col1 {
	background-color: #f7f7f7;
	height: 250px;
	padding: 20px;
	vertical-align: middle;
	text-align:center;
	border: 1px solid #DFDFDF;

}

