@charset "UTF-8";

* {
	border-radius:10px;
	box-sizing: border-box;
}

body {
	 position: relative;

}

.main {
	position:relative;
	margin: 0 auto;
	width: 1240px;
	height: auto;
	min-height: 1000px;
}

.topbar {
	position:relative;
	height:150px;	
	margin-top: 50px;	
	background-color: white;
}

.topbar_title{
	position:absolute;
	top:60px;
	margin-left:70px;
	font-size: 30px;
	font-weight: bold;
}

/* !!!!!!!!!!!!! 사이드바 !!!!!!!!!!!!! */

.sidebar {
	position:relative;
	width: 290px;
	min-height: 300px;
	float: right;
	padding: 0px 15px;
	margin: 30px 0px 60px 0px;		
	border: 2px solid #bdbdbd;	
	background-color: white;	
}

.sidebar_item {
	width: 260px;
	height: auto;
	min-height: 100px;

}

.sidebar_item_title_up, .sidebar_item_title_down {
	margin: 10px 0px;
	text-align: center;
	cursor: pointer;
}

.sidebar_item_title_up {
	display: none;
}



.sidebar_pay_main {
	margin: 20px 0px;
	font-size: 20px;
}

.sidebar_pay_right {
	float: right;
}

.sidebar_pay_left {
	margin: 10px 0px;
	opacity: 0.7;
}

.sidebar_item_icon {
	font-size: 40px;
	text-align: center;
	opacity: 0.5;
}



.sidebar_item_table {	
	font-size: 12px;
	width: 100%;
	display: none;
}


.sidebar_item_table_td {
	padding:10px 20px 10px 0px;

}

.sidebar_item_table_td.col1 {
	vertical-align : middle;
	width: 80px;
	height: 100px;	
}

.sidebar_item_table_td.col2 {
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
	max-width: 100px;

}

.sidebar_item_table_td_img {
	width: 80px;
	height: 100px;
	border: 1px solid black;
}

.sidebar_item_table_tr {
	border: 1px solid black;
}

/* !!!!!!!!!!!!! 센터 !!!!!!!!!!!!! */

.center {
	display:inline-block;
	width: 900px;
	height:700px;
	margin-top:30px;	
	border: 2px solid #bdbdbd;
	background-color: white;	
}


.center_info {
	margin: 60px 0px;
	text-align:center;
	font-size: 40px;
	font-weight: bold;
}

.center_table {
	margin:0 auto;
	width:700px;	
 	text-align:justify;
	font-size: 20px;
	
}

.center_table_th {
	height: 50px;
	width: 120px;
	font-weight: bold;
}

.center_table_td {
	padding: 20px 30px;
}

.center_table_th.col2 {
	height: 200px;
}

.center_table_th.col4 {
	height: 100px;
}


