@charset "UTF-8";

.wrapper {
	height: auto;
}


.main {
	position:relative;

	width: 1240px;
	height: auto;
	min-height: 1000px;
	
	margin: 0 auto;
	margin-bottom: 100px;
	line-height: 180%;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 공통 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
.title {
	font-size: 14px;
	margin-bottom: 10px;
}

.text_right_krw {
	float: right;
}


.text_right {
	font-size: 16px;
	font-weight: bold;
	float: right;
	
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! orderlist !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
.orderlist {
	width: 850px;
	height: auto;
		
	margin-bottom: 30px;
	padding: 0px 25px;
}

.orderlist_table {
	width: 800px;
	font-size: 12px;

    border: 1px solid #DFDFDF;
}

.orderlist_table_th1 {
	width: 680px;
	height: 80px;
	vertical-align: middle;
	padding: 0px 30px;

	font-size: 16px;	
	font-weight: bold;

	border-bottom: 1px solid #DFDFDF;	
}

.orderlist_table_th2 {
	width: 120px;
	height: 50px;
	padding: 0px 30px;
	vertical-align: middle;		
	
	color: #6768ab;
	font-weight: bold;
}

.orderlist_table_th_right {
	float: right;
}

.bi-chevron-down, .bi-chevron-up {
	cursor: pointer;
}

.orderlist_table_tr {
	display: none;
}

.orderlist_table_img {
	width: 80px;
	height: 100px;
	vertical-align: middle;		
	border: 1px solid #DFDFDF;		
}

.orderlist_table_col1  {
	width: 150px;
	height: 150px;
	text-align: center;	
	vertical-align: middle;	
	border-bottom: 1px solid #DFDFDF;
}

.orderlist_table_col2 {
	width: 350px;
	padding: 0px 0px 0px 20px ;
	vertical-align: middle;	
	border-bottom: 1px solid #DFDFDF;		
}

.orderlist_table_col3, .orderlist_table_col4 {
	width: 150px;
	padding: 0px 20px;
	text-align: center;	
	vertical-align: middle;		
	border-bottom: 1px solid #DFDFDF;	
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! pay_info !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */

.pay_info {
	width: 850px;
	height: auto;
		
	font-size: 14px;
	margin-bottom: 30px;
	padding: 0px 25px;
}

.pay_info_content {
	width: 800px;
	height: 300px;
	
	display: table-cell;
	vertical-align:middle;	
	
	padding: 30px;
    border: 1px solid #DFDFDF;
}

.pay_info_ul1 {
	display: inline-block;
}

.pay_info_krw {
	width: 50px;
	float: left;
	margin: 15px 0px 0px 5px;	
	
	padding-top: 3px;
	font-size: 12px;
}

.pay_info_li1, .pay_info_li2, .pay_info_li3 {
	width: 400px;
	float: left;
	margin: 15px 0px;
}

.pay_info_li4 {
	width: 400px;		
	float: left;
	margin: 15px 0px;	
}

.pay_info_li5 {
	width: 100px;
	float: left;
	padding-top: 3px;
	margin: 15px 0px 15px 0px;		
}

.text_right_final {
	
	font-weight: bold;
	float:right;
	font-size: 22px;
	color: #5c5d99;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! user_info !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */

.user_info {
	width: 850px;
	height: auto;
		
	margin-bottom: 50px;
	padding: 0px 25px;

}

.user_info_content {
	width: 800px;
	height: auto;
	min-height: 100px;
	
	display: table-cell;
	vertical-align:middle;	
	
	padding: 30px;
    border: 1px solid #DFDFDF;
}

.user_info_li1, .user_info_li3 {
	width: 200px;
	float: left;
	margin: 8px 0px;
}

.user_info_li2, .user_info_li4{
	width: 530px;
	float: left;
	margin: 8px 0px;	

}

.user_info_li2 {
	font-weight: bold;
}

.user_info_button {
	width: 320px;
	margin: 0 auto;
	margin-bottom: 30px;
}


.shopping_btn, .mypage_btn {
	width: 150px;
	height: 50px;

	margin-top:30px;
	font-weight: bold;
}

.mypage_btn {
	float: right;	
}